@use '../../utilities/variables' as button;

.temp-container {
  width: 90%;
  height: calc(100vh - 11.5rem);
  margin: auto auto;
  display: flex;

  .product-detail {
    width: 50%;
    margin: auto auto;
    // display: flex;
  
    .product-images {
      border: solid 1px black;
      display: flex;
      justify-content: space-between;

      .product-detail-images {

        .detail-image {
          height: 13.3rem;
          width: 9.4rem;
          border: solid 1px black;
          background-color: #BBB1A1;
        }

        #middle-detail-image {
          margin: 2rem 0;
        }
      }
  
      .product-spolight-images {

        .spotlight-image {
          border: solid 1px black;
          height: 44.1rem;
          width: 47.9rem;
          background-color: #BBB1A1;
        }
      }
    }
  }

  .product-description-container {
    width: 50%;
    height: 44.7rem;
    display: flex;
    flex-direction: column;
    margin: auto auto;

    .product-description-elements {
      display: flex;
      flex-direction: column;
      margin-left: 15rem;

      h3 {
        font-size: 2rem;
        margin: 0;
      }
  
      p {
        font-size: 2rem;
      }
  
      .material-select {
        height: 4.5rem;
      }
  
      .add-to-bag {
        background-color: button.$button-secondary-background;
        color: button.$button-text;
        outline: button.$button-outline;
        border: button.$button-border;
        height: button.$button-height;
        width: button.$button-width;
        margin-bottom: button.$button-margin-bottom;
      }

      .product-description-text {
        font-size: 1.2rem;
        height: 19rem;
        overflow: scroll;
        overflow-x: hidden;
        scrollbar-width: 1rem;
      }

      .product-description-text::-webkit-scrollbar {
        border: 1px solid black;
        background-color: white;
        border-radius: 20px;
        width: 0.3rem;
      }

      .product-description-text::-webkit-scrollbar-thumb {
        border: none;
        background-color:black;
        border-radius: 20px;
      }
  
      .product-description-text, .add-to-bag, .material-select, .material-select-label  {
        width: 34.5rem;
        margin-bottom: 2rem;
      }
    }
  }
}