$coal: #1B1B1B;
$tote: #BBB1A1;

$basic-text: 1.5rem;
$nav-items: 1.5rem;
$letter-spacing: 1rem;

//SHOP BUTTON STYLES

$button-primary-background: white;
$button-text: white;
$button-secondary-background: $coal;
$button-outline: none;
$button-border: none;
$button-height: 4.5rem;
$button-width: 23.2rem;
$button-margin-bottom: 1.7rem;