.CTA-container {
  display: flex;
  position: absolute;
  flex-direction: column;
  margin-bottom: 5%;
  align-items: center;

  h1, p {
    color: white;
    margin-bottom: 3.5rem;
  } 

  h1 {
    font-size: 4rem;
  } 
  
  p {
    font-size: 1.5rem;
  }

  .shop-button {
    background-color: white;
    outline: none;
    border: none;
    height: 4.5rem;
    width: 23.2rem;
    margin-bottom: 1.7rem;

    &:hover {
      cursor: pointer;
    }
  }
}