.shop {
  margin: auto auto;
  width: 90%;
  border: solid 1px black;
}





// Reference for hover image animation
// #some_div {
//   background-image:url(image_1.jpg);
//   -webkit-transition:background-image 0.5s;
//   /* Other vendor-prefixed transition properties */
//   transition:background-image 0.5s;
// }

// #some_div:hover {
//   background-image:url(image_2.jpg);
// }